
<div id="body" class="bg-theme bg-theme1">
    <!-- start loader -->
       <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
       <!-- end loader -->
  <div id="wrapper">
      <div class="height-100v d-flex align-items-center justify-content-center">
         <div class="card card-authentication1 mb-0">
             <div class="card-body">
              <div class="card-content p-2">
               <div class="card-title text-uppercase pb-2">Reset Password</div>
                 <p class="pb-2" style="color: white;">Please enter your email address. You will receive a link to create a new password via email.</p>
                 <form>
                   <div class="form-group">
                   <label for="exampleInputEmailAddress" class="">Email Address</label>
                    <div class="position-relative has-icon-right">
                       <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="Email Address">
                       <div class="form-control-position">
                           <i class="icon-envelope-open" style="color: white;"></i>
                       </div>
                    </div>
                   </div>
                  
                   <button type="button" class="btn btn-light btn-block mt-3">Reset Password</button>
                  </form>
                </div>
               </div>
                <div class="card-footer text-center py-3">
                 <p class="text-warning mb-0">Return to the <a routerLink="/login"> Sign In</a></p>
               </div>
              </div>
              </div>
         
          <!--Start Back To Top Button-->
         <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
         <!--End Back To Top Button-->
         
         <!--start color switcher-->
         <app-rightside></app-rightside>
         <!--end color switcher-->
         </div>
        </div>