<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="modifyForm" class="user" (ngSubmit)="modifyUser()">
                <div class="card py-5">
                    <div class="row mt-3 g-2">
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">Firstname</span> <input type="text"
                                    class="form-control" placeholder="Enter Your First Name"
                                    formControlName="firstname">
                                <div *ngIf="firstname.touched && firstname.invalid" class="text-danger bg-blue">
                                    <div *ngIf="firstname.errors.required">* Firstname is required
                                    </div>
                                    <div *ngIf="firstname.errors.minlength">* Firstname must contain
                                        3 letters at least</div>
                                    <div *ngIf="firstname.errors.maxlength">* Firstname must contain
                                        10 letters at least</div>
                                    <div *ngIf="firstname.errors.pattern">* Invalid format</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">lastname</span> <input type="text"
                                    class="form-control" formControlName="lastname" placeholder="Enter Your Last Name"
                                    formControlName="lastname">
                                <div *ngIf="lastname.touched && lastname.invalid" class="text-danger">
                                    <div *ngIf="lastname.errors.required">* lastname is required
                                    </div>
                                    <div *ngIf="lastname.errors.minlength">* lastname must contain 3
                                        letters at least</div>
                                    <div *ngIf="lastname.errors.maxlength">* lastname must contain
                                        20 letters at least </div>
                                    <div *ngIf="lastname.errors.pattern">* Invalid format</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 g-2">
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">Email</span> <input type="email"
                                    class="form-control" placeholder="Enter Your Email ID" formControlName="email">
                                <div *ngIf="email.touched && email.invalid" class="text-danger">
                                    <div *ngIf="email.errors.required">* Email is required</div>
                                    <div *ngIf="email.errors.email">*Invalid Format</div>
                                    <div *ngIf="email.errors.pattern">*example@asteelflash.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">photo</span>
                                
                                
                                <input type="file"
                                    (change)="onFileSelect($event)" class="form-control" accept="image/png, image/jpeg"
                                    formControlName="photo">
                                <div *ngIf="photo.touched && photo.invalid" class="text-danger">
                                    <div *ngIf="photo.errors.required">* Photo is required</div>
                                </div>
                                <div *ngIf="imageData">
                                    <img [src]="imageData" [alt]="form.value.name" id="avatar" />
                                </div>
                                <div *ngIf="!imageData">
                                    <img [src]="user.photo" alt=""  id="avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 g-2">
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">Service</span> <select
                                    class="form-control form-control-sm" formControlName="service" id="service">
                                    <option value="" disabled selected hidden>Choose Service</option>
                                    <option value="Production">Production</option>
                                    <option value="Maintenance">Maintenance</option>
                                    <option value="Qualité">Qualité</option>
                                    <option value="Lean">Lean</option>
                                </select>
                                <div *ngIf="service.touched && service.invalid" class="text-danger">
                                    <div *ngIf="service.errors.required">* Service is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputs px-4"> <span class="text-uppercase">post</span> <select
                                    class="form-control form-control-sm" formControlName="post">
                                    <option value="" disabled selected hidden>Choose Post</option>
                                    
                                    <option value="Directeur">Directeur</option>
                                    <option value="Responsable">Responsable</option>
                                    <option value="Ingénieur">Ingénieur</option>
                                    <option value="Technicien">Technicien</option>
                                </select>
                                <div *ngIf="post.touched && post.invalid" class="text-danger">
                                    <div *ngIf="post.errors.required">* Post is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                            <input type="reset" class="btn btn-danger" value="Cancel">
                            <input type="submit" [disabled]="modifyForm.invalid" class="btn btn-info"
                                value="Save Changes">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>