body {
    height: auto;
    }
.chart-area{
    margin-top: 60px;
}
    #fpy,#fpy1,#fpy2{
        overflow:hidden;
        -webkit-border-radius:100px;
        -moz-border-radius:100px;
        border-radius:150px;
        width:270px;
        height:290px;
        -moz-box-shadow: 0px 0px 10px #ca3535;
        -webkit-box-shadow: 0px 0px 10px #ffffff;
        -o-box-shadow: 0px 0px 10px #ffffff;
        box-shadow: 0px 0px 10px #ffffff;
    }
    #fpy1{
        margin-left: 210px;
    }
    #fpy2{
        margin-left: 100px;
    }
    .m-0{
        text-align:center; font-size:17px;
        font-weight: bold;
    }
 ::placeholder {
        text-align: center;
        color: rgb(182, 31, 31) !important;
        opacity: 8 !important;
       font-size: 18px !important;
    }
#rowcent{
  margin-left: 120px;
width: 350px;
}
#colcent{
    margin-right: 120px;
    width: 350px;
}
#dt2{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
         width: 335px;
         height: 35px;
         background-color:transparent;
         color:rgb(143, 245, 245);
         font-weight: bold;
         font-size: 15px;
    }
#dt1{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
         width: 360px;
         height: 35px;
         background-color:transparent;
         color:rgb(143, 245, 245);
         font-weight: bold;
         font-size: 15px;
    }
    #dt1{
        margin-left: 50px;
    }
    #date{
        background-color:transparent;
        color: white;
    }

    #res, #res2, #res3,#res4{
        margin-left: 70px;
        margin-top: 50px;
        font-weight: bold;
        font-size: 50px;
    }
    #res3{

        color: #5AA454;

    }
    #res{

        color: #0000ff;

    }
    #res4{
    
        color: #A10A28;
     
    }
    #res2{
    
        color: #C7B42C;
     
    }