body {
    height: auto;
    }

    #fpy{
        overflow:hidden;
        -webkit-border-radius:400px;
        -moz-border-radius:400px;
        border-radius:400px;
        width:500px;
        height:500px;
        margin-left: 250px;
        -moz-box-shadow: 0px 0px 10px #ffffff;
        -webkit-box-shadow: 0px 0px 10px #ffffff;
        -o-box-shadow: 0px 0px 10px #ffffff;
        box-shadow: 0px 0px 10px #ffffff;
    }

 ::placeholder {
        text-align: center;
        color: rgb(182, 31, 31) !important;
        opacity: 8 !important;
       font-size: 18px !important;
    }
#rowcent{
    margin-left: 120px;   
    width: 350px;
}
#colcent{
    margin-right: 120px;
    width: 350px;
}
#dt1,#dt2{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
         width: 320px;
         height: 35px;
         background-color:transparent;
         color:rgb(143, 245, 245);
         font-weight: bold;
         font-size: 15px;
    }
    #dt1{
        margin-left: 50px;
    }
    #date{
        background-color:transparent;
        color: white;
    }

    #dt2{
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 2px solid rgb(255, 255, 255);
             width: 335px;
             height: 35px;
             background-color:transparent;
             color:rgb(143, 245, 245);
             font-weight: bold;
             font-size: 15px;
        }
    #dt1{
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 2px solid rgb(255, 255, 255);
             width: 360px;
             height: 35px;
             background-color:transparent;
             color:rgb(143, 245, 245);
             font-weight: bold;
             font-size: 15px;
        }