<div id="body" class="bg-theme bg-theme1">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <app-topbar></app-topbar>
        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                <!--start overlay-->
                <div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Users Details</h5>
                            <div class="nav-item">
                                <form class="search-bar">
                                    <input type="text" class="form-control" placeholder="Enter keywords" (input)="filter($event.target.value)">
                                    <i class="icon-magnifier" style="margin-top:-22px;"></i>
                                </form>
                            </div>
                            <div>
                                <div *ngIf="users.length == 0" class="alert alert-warning">No user found</div>
                                <table *ngIf="users.length > 0" class="table">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Email</th>
                                            <th>Service</th>
                                            <th>Post</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users | paginate: { itemsPerPage: 4, currentPage: p }">
                                            <td><a><img class="card-img-top img-responsive"
                                                [src] = "user.photo" style = "height :52px;width:52px"
                                               alt=""></a></td>
                                            <td>{{user.firstname}}</td>
                                            <td>{{user.lastname}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.service}}</td>
                                            <td>{{user.post}}</td>
                                            <td>
                                                <div class="d-grid gap-2 d-md-block">
                                                    <button class="btn btn-warning btn-sm"[routerLink]="['/update',user.id]"><i
                                                            class="fa fa-edit"></i></button>
                                                    <button class="btn btn-danger btn-sm" 
                                                        (click)="delete(user)"><i
                                                        class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <app-footer></app-footer>
        <!--End footer-->

        <!--start color switcher-->
        <app-rightside></app-rightside>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->
</div>