<div id="body" class="bg-theme bg-theme1">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <app-topbar></app-topbar>
        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                <!--start overlay-->
                <div >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Users Details</h5>
                            <div class="nav-item">
                                <form class="search-bar">
                                  <input type="text" class="form-control" placeholder="Enter keywords">
                                   <i class="icon-magnifier" style="margin-top:-22px;"></i>
                                </form>
                            </div>
                            <div>
                             <table class="table">
                                <thead>
                                    <tr>
                                       <th>Picture</th>
                                       <th>Full Name</th>
                                       <th>Last Name</th>
                                       <th>User Name</th>
                                       <th>E-mail</th>
                                       <th>Service</th>
                                       <th>Function</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>

                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm "type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>
                                          <div class="d-grid gap-2 d-md-block">
                                             <button class="btn btn-info btn-sm " type="button"><i
                                                   class="fa fa-unlock-alt "></i></button>
                                             <button class="btn btn-warning btn-sm" type="button"><i
                                                   class="fa fa-edit"></i></button>
                                             <button class="btn btn-danger btn-sm " type="button"><i
                                                   class="fa fa-trash"></i></button>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                          </div>
                          </div>
                    </div>
                  </div>
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <app-footer></app-footer>
        <!--End footer-->

        <!--start color switcher-->
        <app-rightside></app-rightside>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->
   </div>