<div id="body" class="bg-theme bg-theme1">
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <app-sidebar></app-sidebar>
        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        <app-topbar></app-topbar>
        <!--End topbar header-->


        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="col">
                    <a (click)="print()" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
                        style="margin-left:800px;height:30px;color:white"> Generate
                        Report</a>
                </div>
                <form>
                    <div class="col-xl-12 col-lg-7">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label id="dt1">
                                        Date Time From:
                                        <input type="datetime-local" (change)="dateDev($event.target.value)"
                                            id="date" />
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label id="dt2">
                                        Date Time To:
                                        <input type="datetime-local" (change)="dateFin($event.target.value)"
                                            id="date" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputclient" class="sr-only">Client</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded"
                                            (change)="onChange($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a Client</option>
                                            <option>ABB</option>
                                            <option>HONEYWELL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputline" class="sr-only">Line</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded" *ngFor="let elemnt of select"
                                            (change)="onChange2($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a production line</option>
                                            <option>{{elemnt.TypeTest}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputprod" class="sr-only">Product</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded" *ngFor="let elemnt of select2"
                                            (change)="onChange3($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a Product</option>
                                            <option>{{elemnt.Id_Machine}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" >
                                <table class="table table-hover table-striped" >
                                    <tbody>
                                        <tr> 
                                            <td >
                                                <strong>FPY:</strong> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<strong *ngIf="show == true"> {{results}}%</strong>
                                            </td>
                                            <td>
                                                <strong style="margin-left: -100px;">Total Products:</strong>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<strong *ngIf="show == true">{{results2}}</strong>
                                            </td>
                                            <td>
                                                <strong >Good Products:</strong>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<strong *ngIf="show == true">{{results7}}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Good Products passed on the first try</strong>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<strong *ngIf="show == true">{{results3}} &nbsp;&nbsp;&nbsp; &nbsp;</strong>
                                            </td>
                                            <td>
                                                <strong style="margin-left: -100px;">Bad Products</strong>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<strong *ngIf="show == true">{{results4}}</strong>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </table>
                            <!-- Content Column -->
                        </div>
                        <div class="row" *ngIf="show==true">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">TOP5 Defects</h5>
                                        <div class="table-responsive table-hover">
                                            <table  class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col font-weight-bold" >Defects</th>
                                                        <th scope="col font-weight-bold">Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let element of results5">
                                                        <td>{{element.Nom_Mesure}}</td>
                                                        <td>{{element.quantite}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Pie Chart -->
                            <div class="col-xl-8 col-lg-10">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold " style="font-size:16px;">TOP5
                                        </h6>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <div style="display: block;" *ngIf="show==true">
                                                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                                                    [legend]="pieChartLegend">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotating-box mb-4">
                                <div class="single-rb">
                                    <div class="front-side"><img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                    <div class="back-side"> <img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                    <div class="left-side"> <img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                    <div class="right-side"> <img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                    <div class="top-side"> <img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                    <div class="bottom-side"> <img src="../../../../../assets/images/logo-icon.png"
                                            width="100" height="100"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="show==true">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">Defects List</h5>
                                        <div class="table-responsive table-hover">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col font-weight-bold">Defects</th>
                                                        <th scope="col font-weight-bold">Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let element of results6 | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                                                        <th scope="row">{{i+1}}</th>
                                                        <td>{{element.Nom_Mesure}}</td>
                                                        <td>{{element.quantite}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->
        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <app-footer></app-footer>
        <!--End footer-->

        <!--start color switcher-->
        <app-rightside></app-rightside>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->

</div>