#body{
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover;
    background-position: center;
    bottom: 0;

}
#avatar{
    overflow:hidden;
    -webkit-border-radius:160px;
    -moz-border-radius:160px;
    border-radius:160px;
    width:150px;
    height:150px;
    -moz-box-shadow: 0px 0px 10px #ffffff;
	-webkit-box-shadow: 0px 0px 10px #ffffff;
	-o-box-shadow: 0px 0px 10px #ffffff;
	box-shadow: 0px 0px 10px #ffffff;
    margin-top: -690px;
}
