<div id="body" class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <app-sidebar></app-sidebar>
        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        <app-topbar></app-topbar>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                <!--Start FPY Content-->
                <form>
                    <div class="col-xl-12 col-lg-7">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label id="dt1">
                                        Date Time From:
                                        <input type="datetime-local" (change)="dateDev($event.target.value)"id="date" />
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label id="dt2">
                                        Date Time To:
                                        <input type="datetime-local" (change)="dateFin($event.target.value)" id="date"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputclient" class="sr-only">Client</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded"
                                            (change)="onChange($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a Client</option>
                                            <option>HONEYWELL</option>
                                            <option>ABB</option>
                                            <option>SOMFY</option>
                                            <option>BRANDT</option>
                                            <option>FRESNUIS</option>
                                            <option>MULLER</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputline" class="sr-only">Line</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded" *ngFor="let elemnt of select"
                                            (change)="onChange2($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a production line</option>
                                            <option>{{elemnt.TypeTest}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputprod" class="sr-only">Product</label>
                                    <div class="position-relative has-icon-right">
                                        <select class="form-control form-control-rounded" *ngFor="let elemnt of select2"
                                            (change)="onChange3($event.target.value)">
                                            <option value="" disabled selected hidden>Choose a Product</option>
                                            <option>{{elemnt.Id_Machine}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-xl-12 col-lg-7">
                    <div class="card shadow mb-4" id="fpy">
                        <!-- Card Header - Dropdown -->
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="card-body">
                                <div class="card-header">
                                    <h6 class="m-0">First Pass Yield Percent
                                    </h6>
                                </div>
                                <div id="res">
                                    {{results}}%
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-area">
                    <div style="display: block;">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                            [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>

                <!--End FPY Content-->
                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <app-footer></app-footer>
        <!--End footer-->

        <!--start color switcher-->
        <app-rightside></app-rightside>
        <!--end color switcher-->

    </div>
    <!--End wrapper-->



</div>